body {
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    display: block;
    background-color: black;
    width: 100vw; /* Ajustar el tamaño del canvas para ocupar todo el ancho */
    height: 100vh; /* Ajustar el tamaño del canvas para ocupar todo el alto */
    margin: auto;
    z-index: 1;
}

html {
    background: -moz-linear-gradient(top, #241d33 0%, #171930 51%, #091119 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #241d33), color-stop(51%, #171930), color-stop(100%, #091119));
    background: -webkit-linear-gradient(top, #241d33 0%, #171930 51%, #091119 100%);
    background: -o-linear-gradient(top, #241d33 0%, #171930 51%, #091119 100%);
    background: -ms-linear-gradient(top, #241d33 0%, #171930 51%, #091119 100%);
    background: linear-gradient(to bottom, #241d33 0%, #171930 51%, #091119 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#241d33', endColorstr='#091119', GradientType=0);
    height: 100%;
    overflow: hidden;
}

#new-year {
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 5vh; /* Ajustar la posición para dispositivos móviles */
    width: 100%;
    z-index: 2; /* Asegurarse de que el texto esté sobre el canvas */
    animation: color-change 5s infinite; /* Aplicar la animación */
    font-size: 5vw; /* Ajustar el tamaño del texto para dispositivos móviles */
}

#footer {
    position: absolute;
    bottom: 2vh; /* Ajustar la posición para dispositivos móviles */
    width: 100%;
    text-align: center;
    z-index: 2;
}

#footer p {
    color: white;
    animation: color-change 5s infinite; /* Aplicar la animación */
    font-size: 4vw; /* Ajustar el tamaño del texto para dispositivos móviles */
}

@keyframes color-change {
    0% { color: red; }
    25% { color: yellow; }
    50% { color: green; }
    75% { color: blue; }
    100% { color: red; }
}
